/* VARIABLES */
:root {
  --c-white: #ffffff;
  --c-black: #252525;
  --c-grey: #dedede;
}

/* SEMANTIC VARIABLES */
:root {
  --color-background: var(--c-grey);
  --color-count: 184;
  --color-background-task: hsl(var(--color-count), 100%, 68%);
  --color-links: rgba(0, 0, 0, 0.5);
  --color-links-hover: rgba(0, 0, 0, 0.8);
  --color-text: var(--c-black);
}

/* DARK SCHEME VARIABLES */
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--c-black);
    --color-background-task: var(--c-grey);
    --color-text: var(--c-white);
  }
} */

::selection {
  color: var(--c-white);
  background-color: var(--c-black);
}

/* TYPEFACES */
@font-face {
  font-family: 'Therma';
  src:
    url('fonts/ASTherma-MediumCondensed.woff2') format('woff2'),
    url('fonts/ASTherma-MediumCondensed.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue';
  src:
    url('fonts/PPNeueMontrealMono-Medium.woff2') format('woff2'),
    url('fonts/PPNeueMontrealMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Neue', sans-serif;
  text-transform: uppercase;
  font-size: max(1.1rem, 16px);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Therma';
  text-transform: uppercase;
}

.h-xxl {
  font-family: 'Therma';
  text-transform: uppercase;
  font-size: 12rem;
  line-height: 0.48;
  padding-bottom: 2.5rem;
  letter-spacing: -0.065em;
  transform: translateX(-0.5rem);
}

.h-xl {
  font-family: 'Therma';
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 1;
  letter-spacing: -0.05em;
}

.h-l {
  font-family: 'Therma';
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 1;
  letter-spacing: -0.05em;
}

.p-m {
  font-size: max(1.1rem, 16px);
  font-family: 'Neue', sans-serif;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  html {
    font-size: 85%;
  }
}
